:root {
	/* Couleurs principales */
	--background-color: rgba(1, 3, 38, 1);
	--panel-background: rgba(199, 207, 217, 1);
	--panel-border: rgba(59, 60, 64, 1);
	--text-color: rgba(136, 140, 140, 1);
	/* Couleur bouton */
	--button-primary-bg: #BF1736;
	--button-primary-text: #ffffff;
	--button-primary-border: #400106;
	--button-primary-hover-bg: #590209;
	--button-primary-hover-border: #400106;
	--button-primary-hover-text: #e0e0e0;
	/* Couleur menu */
	--menu-background: rgba(199, 207, 217, 1); /* Couleur de fond du menu */
	--menu-border: rgba(59, 60, 64, 1); /* Couleur des bordures du menu */
	--menu-text: rgba(1, 3, 38, 1); /* Couleur des textes du menu */
	--menu-hover: #BF1736; /* Couleur au survol */
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color);
	overflow: hidden;
}

canvas {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Boutons primaires */
.btn-primary {
	background-color: var(--button-primary-bg);
	color: var(--button-primary-text);
	border: 1px solid var(--button-primary-border);
	transition: background-color 0.3s ease, color 0.3s ease;
	cursor: pointer;
}

.btn-primary:hover {
	background-color: var(--button-primary-hover-bg);
	color: var(--button-primary-hover-text);
}

#start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--button-primary-bg);
    color: var(--button-primary-text); 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#start:hover {
    background-color: var(--button-primary-hover-bg);
    color: var(--button-primary-hover-text);
}


#restart {
	position: absolute;
    top: 100%;
    left: 50%;
    background-color: var(--button-primary-bg);
    color: var(--button-primary-text);
    cursor: pointer; 
    z-index: 10;
}

#restart:hover {
    background-color: var(--button-primary-hover-bg);
    color: var(--button-primary-hover-text);
}

/* Style spécifique pour Finish */
#finishTournament {
    background-color:  var(--button-primary-bg)5; /* Vert succès */
    color: var(--button-primary-text);
}

.offcanvas {
	background-color: var(--menu-background);
	color: var(--menu-text);
	border-right: 1px solid var(--menu-border);
}

.offcanvas .offcanvas-header {
	border-bottom: 1px solid var(--menu-border);
	padding: 5px 15px; /* Réduit l'espace autour du titre et du bouton */
	margin-top: 0px; /* Remonte légèrement le contenu */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.offcanvas-header h5 {
	margin: 1rem;
	font-size: 1.5rem; /* Ajustez la taille selon vos besoins */
	color: var(--menu-text);
}

.offcanvas .btn {
	background-color: var(--menu-background);
	color: var(--menu-text);
	border: 1px solid var(--menu-border);
	transition: background-color 0.3s ease, color 0.3s ease;
}

.offcanvas .btn:hover {
	background-color: var(--menu-hover);
	color: var(--menu-text);
}

#offcanvasMenu .offcanvas-header {
    border-bottom: none !important; /* Supprime la bordure */
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

#menu button {
    width: 200px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}

#offcanvasBtn {
    background-color: transparent !important; 
    border: none !important;
    box-shadow: none; 
    padding: 5px; 
    color: var(--menu-text);
    transition: color 0.3s ease;
}

#offcanvasBtn:hover {
    color: var(--menu-hover);
	transform: scale(1.2);
}

#offcanvasBtn i {
    font-size: 2rem;
    color: var(--menu-text);
	transform: scale(1.2);
}

#offcanvasBtn:hover i {
    color: var(--menu-hover);
}

.menu-btn {
    background-color: transparent !important; /* Fond transparent */
    border: none !important; /* Pas de bordure */
    box-shadow: none !important; /* Pas d'ombre */
    padding: 10px; /* Ajuster l'espacement */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem; /* Taille de l'icône */
    transition: color 0.3s ease;
	color: var(--menu-text);
}

/* Assurez-vous que l'icône X est correctement dimensionnée */
.menu-btn i {
	font-size: 2rem;
	transition: color 0.3s ease; 
}

.menu-btn:hover i{
	color: var(--menu-hover); /* Couleur au survol */
	transform: scale(1.2); /* Légère animation de zoom */
}

menu.hidden {
	display: none;
}

.tournament-info {
	width: 300px;
	height: 700px;
	background-color: var(--panel-background);
	position: fixed;
	right: 180px;
	top: 50%;
	transform: translateY(-57%);
	border-radius: 15px; 
	border: 5px solid var(--panel-border);
	display: none;
}

.nextToPlay {
	width: 250px;
	background-color: var(--panel-background);
	border-radius: 15px; 
	border: 5px solid --panel-border;
	transform: translateX(14%)
}

.PlayerOne {
	width: 150px;
	background-color: var(--panel-background);
	border-radius: 15px; 
	transform: translateX(14%);
	position: absolute;
  	top: 80%;
  	left: 35%;
  	transform: translate(-50%, -50%);
	display: none;
}

.PlayerTwo {
	width: 150px;
	background-color: var(--panel-background);
	border-radius: 15px; 
	/* border: 5px solid rgb(255, 255, 255); */
	transform: translateX(14%);
	position: absolute;
  	top: 80%;
  	left: 65%;
  	transform: translate(-50%, -50%);
	display: none;
}

.start {
	background-color: var(--button-color);
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	display: none;
}

.restart {
	background-color: var(--button-color);
	position: absolute !important;
	top: 85% !important;
	left: 50% !important;
	transform: translate(-50%, -50%);
	z-index: 10 !important;
	display: none;
}

.singlePlayer {
	background-color: var(--button-color);
	position: absolute;
	top: 37%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;

}

.multiPlayer {
	background-color: var(--button-color);
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.isFourPlayer {
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.winnerTournament {
	width: 150px;
	background-color: var(--panel-background);
	border-radius: 15px; 
	transform: translateX(14%);
	position: absolute;
  	top: 37%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	display: none;
}

.finishTournament {
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	display: none;
}

.top-left-menu {
	position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 15px;
}

.top-right-button {
	position: fixed;
	top: 30px;
	right: 30px;
	display: flex;
	gap: 10px;
	z-index: 1000; 
}

.top-left-menu a,
.top-right-button button {
	margin: 0;
	padding: 5px 15px;
	font-size: 14px;

}

.modal-content {
    background-color: var(--panel-background);
    color: var(--menu-text);
    border-radius: 10px;
    border: 1px solid var(--panel-border);
    padding: 20px;
}

.modal-header {
	border-bottom: none !important;
	border-bottom: 1px solid var(--panel-border);
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.modal-footer {
	border-top: none !important;
	margin-top: 15px;
}

.modal-title {
	font-size: 1.5rem;
    font-weight: bold;
    color: var(--menu-text);
}

.modal-body .fw-bold {
	margin-top: 20px;
	margin-bottom: 20px;
}

.modal-body .d-flex {
	margin-bottom: 20px;
}

.modal-body .col-3 {
	text-align: right;
	padding-right: 10px;
}

.modal-body .col {
	flex-grow: 1;
}

.form-control {
    background-color: white;
    color: var(--menu-text);
    border: 1px solid var(--panel-border);
    border-radius: 5px;
    font-size: 14px;
}

.form-select {
    background-color: white;
    color: var(--menu-text);
    border: 1px solid var(--panel-border);
    border-radius: 5px;
    font-size: 14px;
}

.sidebar {
	display: block;
	background-color: var(--panel-background);
	position: fixed;
	top: 0;
	left: 0;
	width: 65px;
	height: 100%;
	padding: 20px;
	z-index: 1000;
}

#mobileMenuButton i.bi-list {
	display: inline-block;
	position: fixed;
	padding: 10px;
	top: 10px;
	left: 10px;
	font-size: 2rem;
	color: var(--panel-background);
	z-index: 1000;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	transition: transform 0.3s ease, color 0.3s ease;
}

#mobileMenuButton i.bi-list:hover {
	color: var(--menu-hover);
	transform: scale(1.2); 
}

@media(max-width: 768px) {

	body {
        overflow: hidden;
    }
	.sidebar {
		display: none;
	}
	#mobileMenuButton {
		display: inline-block;
	}
	.top-right-button {
		top: 30px;
		right: 30px;
	}
	.top-right-button .btn-primary {
		font-size: 12px;
		padding: 5px 10px;
	}
	canvas {
		width: 100%;
		max-width: 350px;
		height: auto;
		max-height: 300px;
	}
}


.modal-backdrop {
    display: none !important;
}

#bg {
	opacity: 0;
	transition: var(--panel-background) 0.3s ease;
	width: 100vw;
	height: 100vh;
}

#bg.visible {
	opacity: 1;
}

#preliminary-step {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
	top: 50%;
    left: 50%;
}

#preliminary-step h0 {
	font-size: 200px;
	color: var(--panel-background);
    margin-bottom: 20px;
}
